%section
  = render 'refills/navigation'
%section
  = render 'refills/flashes'
%section
  = render 'refills/hero'
%section
  = render 'refills/accordion'
%section
  = render 'refills/expander'
%section
  = render 'refills/badges'
%section
  = render 'refills/cards'
%section
  = render 'refills/modal'
%section
  = render 'refills/sliding_panel'
%section
  = render 'refills/tooltip'
%section
  = render 'refills/textures'
%section
  = render 'refills/type_system_geometric'
%section
  = render 'refills/footer_2'
